.header{
    background-color: black;
    
}
.heading{
    
    display: flex;
}
.lf{
    width:200px;
    margin-right: 70px;
    margin-left: 0px;
    
}
.text{
    margin-top: 75px;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
    color:orange;
}
.main{
    width: 500px;
    margin: 50px;
}
.button{
    background-color: black;
    color: antiquewhite;
    font-family: cursive;
    width: 900px;
    border-radius: 20px;
}
.text1{
    color: antiquewhite;
    font-size: 40px;
    font-family: cursive;
    margin-top: 100px;
}
.text2{
    color: rgb(248, 173, 34);
    font-size: 40px;
    font-family: cursive;
    margin-top: 100px;
    margin-left: 40px;
}
.quote{
    display: flex;
}

