.heading{
    background-color:#61398fd0;
    height: 50px;
    border-radius: 100px;
    width: 1130px;
    margin-left: 100px;
    margin-bottom: 10px;
}
.head{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color:#FFFFFF;
}
.image{
    width: 280px;
    margin-top: 5px;
    margin-left: 25px;
    height:200px;
    padding: 10px;
    border-radius: 100%;
    overflow: hidden;

}
.image:hover{
    transition: cubic-bezier(2px);
    scale: 1.1;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    color:#61398F;
    width: 350px;
    height: 40px;
    text-align: center;
    margin-top: 0px;
}
.allign{
    flex-wrap: wrap;
    display: flex;
    margin-left: 90px;
}
.card{
    background-color: #D6C6E1;
    border-radius: 10px;
    margin: 15px;
    object-fit: contain;
    width:350px;
}