.image1{
    width: 280px;
    height: 150px;
    /* margin-top: 25px;
    margin-left: 20px; */
    border-radius: 10px;
    padding-top: 40px;
    
}
.image1:hover{
    transition: cubic-bezier(0.5px);
    scale: 1.1;
}
.imgallign{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.name{
    margin-left:20px ;
    /* margin-top: 60px; */
    font-family: cursive;
    color: #61398F;
    font-size: 17px;
    padding-left: 20px ;
    
}
.main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #FFFFFF;
    background-color:#61398fd0;
    text-align: center;
    /* width: 1335px; */
    /* margin-left: 150px; */
    margin-bottom: 0px;
    border-radius: 30px;
    width: 1250px;
    margin-left: 50px;

}
.a{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.bkgrnd{
    background-color:white;
    border-radius: 5px;
}
.view{
    background-color:whitesmoke;
    height: 25px;
    width: 80px;
    font-size: 15px;
    /* margin-right: 20px; */
    /* margin-left: -12px; */
    /* margin-top: 190px; */
    /* text-align: center; */
    border: 2px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.allign1{
    background-color: rgba(220, 196, 243, 0.753);
    margin: 30px;
    width: 360px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}